<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="main-header" [@fadeIn]>
  <h1>Mis Evaluaciones</h1>
  <p>Historial de resultados y seguimiento de bienestar</p>
</div>

<div class="results-container" [@fadeIn]>
  @if (loading) {
    <div class="loading-state">
      <mat-spinner diameter="40"></mat-spinner>
      <p>Consultando base de datos...</p>
    </div>
  } @else {
    <div class="results-grid">
      @for (res of listaResultados; track res.id) {
        <div class="result-card">
          
          <div class="card-top">
            <h3 class="test-title">
              {{ res.identificador }}</h3>
            <span class="date-tag">
              <i class="ph ph-calendar-blank"></i>
              {{ res.timestamp?.toDate() | date:'dd/MM/yyyy, h:mm a' }}
            </span>
          </div>

          <div class="card-summary">
            <div class="score-brief">
              <div class="score-container">
                <span class="score-value">{{ res.puntaje }}</span>
                <span class="score-separator">/</span>
                <span class="score-max">{{ getMaximo(res.identificador) }}</span> 
              </div>
              <span class="score-label">Puntaje Total</span>
            </div>
            
            <div class="status-summary">
              <p class="summary-text">
                Nivel de estrés detectado: 
                <strong class="intensity-highlight">{{ res.nivel }}</strong> 
              </p>
              
              <p class="summary-text secondary-info">
                Detección por cámara (CNN): 
                <span class="tech-value">{{ traducirEmocion(res.resultado_cnn.emocion) }}</span>
              </p>

              <p class="summary-text secondary-info">
                Detección facial (Facemesh): 
                <span class="tech-value">{{ traducirEmocion(res.resultado_facemesh.emocion) }}</span>
              </p>
            </div>
          </div>

          <div class="card-actions">
            <button mat-button class="btn-details" (click)="verDetalles(res)">
              <i class="ph ph-eye"></i>
              Ver más detalles
            </button>
          </div>
        </div>
      } @empty {
        <div class="empty-state">
          <mat-icon>assessment</mat-icon>
          <p>Aún no tienes resultados registrados.</p>
          <button mat-flat-button color="primary" routerLink="/cuestionario">
            Realizar primer cuestionario
          </button>
        </div>
      }
    </div>
  }
</div>