<app-navbar></app-navbar>
<router-outlet></router-outlet>



<!--<div class="boton-activaciones">
  <button (click)="obtenerActivaciones()">Mostrar Resultado por Capa</button>
</div> -->
<div class="galeria-activaciones">
  <h2>Activaciones por capa</h2>
  <div class="grid-activaciones">
    <div class="card" *ngFor="let capa of activaciones | keyvalue">
      <h3>{{ capa.key }}</h3>
      <img [src]="'data:image/jpeg;base64,' + capa.value" alt="Activación de {{ capa.key }}">
    </div>
  </div>
</div>
