<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="questionnaire-container">
  <h2>Reconocimiento de emociones por voz</h2>
  <div class="voice-emotion-card">
    <div class="contenedor-grabaciones">
      <div class="recording-visualizer" *ngIf="recording || secondsElapsed > 0">
            <div class="recording-dot" *ngIf="recording"></div>
            <div class="timer">{{ recordingTime }}</div>
            <canvas #waveformCanvas id="waveform"></canvas>
            <button class="btn-discard" *ngIf="!recording && secondsElapsed > 0" (click)="discardRecording()" title="Descartar grabación"> <i class="fas fa-trash"></i> </button>
            <div class="timer" *ngIf="!recording && secondsElapsed > 0"></div>

      </div>

      <div class="controls-row">
        <button class="btn-record" (click)="toggleRecording()" [disabled]="(recording || secondsElapsed > 0) && !recording">
          {{ recording ? '⏹️ Detener' : (secondsElapsed > 0 ? '✅ Grabación Lista' : '🎤 Grabar') }}
        </button>

        <button class="btn-process" *ngIf="!recording && secondsElapsed > 0" (click)="analyzeAudio()" [disabled]="isAnalyzing">
          <span *ngIf="!isAnalyzing">Analizar</span>
          <span *ngIf="isAnalyzing">Procesando...</span>
        </button>
      </div>
    </div>
      <div class="upload-alt">
        <span>Subir archivo de audio (.wav): </span>
        <input type="file" (change)="$any($event).target.files[0] && onFileSelected($event)" accept=".wav">
        <button class="btn-download-alt" *ngIf="!recording && secondsElapsed > 0" (click)="downloadRecording()"> 📥 Descargar </button>
      </div>
    </div>

    <div class="results-container" *ngIf="result && resultsArray.length > 0">
      <h2 class="panel-title">Panel de Resultados</h2>
      <h3 class="main-prediction">
        Estado emocional: <strong>{{ result.label }} ({{ (result.confidence * 100).toFixed(1) }}%)</strong>
      </h3>

      <div class="emotions-grid">
        <div class="emotion-row" *ngFor="let emotion of resultsArray">
          <span class="label">{{ emotion.name }}:</span>
          
          <div class="bar-background">
            <div class="bar-fill" [style.width.%]="emotion.percent"></div>
          </div>
          
          <span class="percentage">{{ emotion.value }}%</span>
        </div>
      </div>
    </div>
</div>