<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="auth-container" [@fadeIn]>
  <div class="auth-card">
    <div class="auth-header">
      <img src="assets/logoUCAB.png" alt="UCAB" class="auth-logo">
      <h2>Crea tu cuenta</h2>
      <p>Completa tu perfil para el análisis emocional</p>
    </div>

    <form class="auth-form" [formGroup]="form" (ngSubmit)="register()">
      
      <div class="input-row" style="display: flex; gap: 15px;">
        <div class="input-group" style="flex: 1;">
          <label>Nombre</label>
          <div class="input-wrapper">
            <i class="ph ph-user"></i>
            <input type="text" placeholder="Ej. Andres" formControlName="nombre" required/>
          </div>
        </div>

        <div class="input-group" style="flex: 1;">
          <label>Apellido</label>
          <div class="input-wrapper">
            <i class="ph ph-user"></i>
            <input type="text" placeholder="Ej. Pestana" formControlName="apellido" required/>
          </div>
        </div>
      </div>

      <div class="input-group">
        <label>Carrera</label>
        <div class="input-wrapper">
          <i class="ph ph-graduation-cap"></i>
          <input type="text" placeholder="Ej. Ingeniería Informática" formControlName="carrera" required/>
        </div>
      </div>

      <div class="input-group">
        <label>Semestre</label>
        <div class="input-wrapper">
          <i class="ph ph-number-circle-seven"></i>
          <input type="text" placeholder="Ej. 10mo" formControlName="semestre" required/>
        </div>
      </div>

      <div class="input-group">
        <label>Correo electrónico</label>
        <div class="input-wrapper">
          <i class="ph ph-envelope"></i>
          <input type="email" placeholder="usuario@est.ucab.edu.ve" formControlName="email" required/>
        </div>
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <div class="input-wrapper">
          <i class="ph ph-lock"></i>
          <input type="password" placeholder="••••••••" formControlName="password" required/>
        </div>
      </div>

      <button type="submit" class="btn-submit" [disabled]="form.invalid || cargando">
        <span *ngIf="!cargando">Registrarse</span>
        <span *ngIf="cargando">Procesando...</span>
      </button>

      <p class="auth-footer">
        ¿Ya tienes cuenta? <span (click)="irA('login')" style="cursor: pointer; font-weight: bold;">Inicia sesión</span>
      </p>
    </form>
  </div>
</div>